@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(120deg, #d35400, #16a085);
    min-height: 100vh;
}

header {
    text-align: center;
    text-decoration: underline;
}

main {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(120deg, #ecf0f1, #bdc3c7);
}

footer {
    border: 1px solid black;
    margin-left: 278px;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
    width: 600px;
    background-image: linear-gradient(120deg, #ecf0f1, #bdc3c7);
}

.pages {
    border: 1px solid transparent;
    margin: 15px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    text-decoration: none;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: rgb(1, 14, 196);
}

a:active {
    color: rgb(32, 0, 105);
}

main abbr {
    font-style: italic;
    font-weight: bold;
    color: darkgoldenrod;
}

main abbr:hover {
    color: rgb(145, 106, 9);
}

main abbr:active {
    color: rgb(105, 77, 4);
}

a abbr {
    color: rgb(168, 168, 0);
}

a abbr:hover {
    color: rgb(119, 119, 0);
}

a abbr:active {
    color: rgb(82, 82, 0);
}

.hd {
    margin-left: 112px;
}

.windows {
    margin-left: auto;
    margin-right: auto;
}

.dvd {
    margin-right: 112px;
    margin-left: 17px;
}

.bity {
    margin-left: 280px;
    width: 50%;
}

.dll {
    width: 25%;
    margin-left: 410px;
}

.active {
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
}

.mp {
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.mpdiv {
    border: 1px solid black;
    background-image: linear-gradient(120deg, #ecf0f1, #bdc3c7);
    margin-left: 278px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.mpodkaz {
    width: 50%;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.stranky {
    font-size: 25px;
    text-decoration: none;
    color: blue;
    font-style: normal;
}

.stranky:hover {
    color: rgb(1, 14, 196);
}

.cd {
    width: 30%;
    margin-left: 400px;
}

.rom {
    margin-left: 430px;
}

.cpu {
    margin-left: 400px;
}

.microsoft {
    margin-left: 250px;
}

.adobe {
    margin-left: 250px;
    width: 50%;
}

.audacity {
    width: 25%;
    margin-left: 430px;
}

.discord {
    width: 25%;
    margin-left: 425px;
}

.microsoft-logo {
    margin-left: 450px;
}

.avast {
    width: 25%;
    margin-left: 400px;
}

.vs-code {
    margin-left: 440px;
}

.computer {
    width: 25%;
    margin-left: 420px;
}

.os {
    width: 25%;
    margin-left: 418px;
}

.folder {
    width: 25%;
    margin-left: 420px;
}

.procesor {
    width: 25%;
    margin-left: 425px;
}

.word {
    width: 25%;
    margin-left: 250px;
}

.excel {
    width: 25%;
    margin-left: 60px;
}

.linux {
    width: 20%;
    margin-left: 460px;
}

.apple {
    width: 25%;
    margin-left: 440px;
}